*{
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}
html {
    cursor: url("https://1.bp.blogspot.com/-qbWo9mPKO2Y/YL9utYdQBdI/AAAAAAAAFs4/mtjGu6u2uGwtJsT4gZG4lbhLV1a5lG6OQCLcBGAsYHQ/s0/mouse-f1.png"), auto;
}
body{
    z-index: 0;
}
a:hover,
a:active {
    cursor: url("https://1.bp.blogspot.com/-nYv2dLl3oXY/YL9utYBCh8I/AAAAAAAAFtA/wII4lVw5w4k-4isGMY41heTqk8U4TJujgCLcBGAsYHQ/s0/mouse-f2.png"), auto;
}
ul{
    list-style-type: none;
}

/* tuyet roi*/
canvas {
    position:absolute;
    top: 0;
    left: 0;
    
}
/* */

#container {
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    color: white;
    background: rgb(29, 30, 36);
    padding:0 3rem 1.5rem 3rem;
   
}
#container a{
    color:white;
    text-decoration:none;
}
#container a:hover{
    color:aqua
}
main {
    display: flex;
    gap: 4rem;
    
}
footer{
    text-align: center;
    color:rgb(224, 216, 216);
    font-size: medium;
    font-weight: bold;
}
footer p{
    margin:0
}
/* ----------------------*/
/*Nội dung 🙄 */
header .header-imagine{
    background: url(picture/4.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    position: absolute;
    width:100%;
    max-width: 100%;
    height: clamp(40rem,50%,40rem);
    top:0;bottom:0;
}
.fa-brands{
    font-size:2.1rem
}

.title-about-me,
.contact-me-via-game{
    box-shadow: 1px 1px 8px rgb(46, 44, 44);
    background-color: #23262B;
    border-radius: 1rem;
    gap:5rem;
    max-width: 100%;
    padding: 2.5rem 0 1.5rem 0.5rem;
    z-index: 1;
    margin: auto;
    display: flex;
    flex-flow:wrap;
    width:clamp(55rem,100%,80%);
    justify-content: center;
}
.title-about-me {
    margin-top: 25rem;
    padding-left:3rem;
}
.contact-me-via-game{
    display: flex;
    flex-flow:column wrap;
    padding: 2.5rem;
}
.icon-app{
    display: flex;
    gap:1rem;
    z-index: 2;
    position: relative;
}
.Eris-image img{
    border-radius: 20%;
    max-width: 100%;
    height: auto;
    bottom: 7rem;
    background-color: #23262B;
    padding: 0.6rem;
    position: relative;
}

.me{
   display: flex; 
   flex-flow: wrap;
   gap: 2rem;
   justify-content: center;
}
.contact-me ul{
    display: flex;
    flex-flow: wrap;
    gap:2rem;
    max-width:100%;
    margin: 0;
    word-break: break-all;
    justify-content: center;
}
.contact-me{
   padding:1rem 0 0 0;
   display: flex;
    justify-content: center;
}
.contact-me ul li {
    width: min(100%, 23rem);
}
.me .about-me{
    display: flex;
    flex-flow:column wrap;
    gap: 1.3rem;
    justify-content: center;
}
.me{
    display:flex;
    flex-flow: wrap;
    justify-content: center;
}
.game-image{
    max-width: 100%;  
    width: 15rem;
    height: auto;
    object-fit: cover;
    border-radius: 1rem; 
    min-height: 100%;   
}
.contact-me-via-game hr {
    border-color: #a6a9b0;
    margin: 0;
   width: 10rem;
   height:5px;
   border:none;
    color: #333;
    background:linear-gradient(to left,#0eaeee,#f86749);
}

.about-game{
    display:flex;
    gap: 4rem;
    flex-wrap: wrap;
    text-align: center;
    justify-content:center
}
.game{
    border:1px solid rgb(60, 59, 59);
    width: clamp(30rem,100%,40rem);
    padding:3rem;
    max-width: 100%;
    box-shadow: 1px 4px 10px rgb(46, 45, 45);
    border-radius: 1rem;
    justify-content: center;
}
.game h3,
.game p{
    font-weight: bold;
}
.game p{
    color:rgb(195, 182, 182)
}

.MMB {
    justify-content: center;
    display: flex;
    padding-left:6rem
}

.MMB button {
    font-size: 17px;
    text-transform: uppercase;
    background: linear-gradient(to right, #468499, #8ca6db);
    border: none;
    color: #958f8f;
    border-radius:0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: url("https://1.bp.blogspot.com/-nYv2dLl3oXY/YL9utYBCh8I/AAAAAAAAFtA/wII4lVw5w4k-4isGMY41heTqk8U4TJujgCLcBGAsYHQ/s0/mouse-f2.png"), auto;
}
.MMB .tooltip {
    position: relative;
    font-size: large;
    font-weight:bold;
    color: #f2f2f2;
    z-index: -1;
    background:linear-gradient(to right,#ff7f50,#ec1616);
    padding: 1px;
    border-radius: 0.5rem;
    opacity: 0;
    transition: opacity 0.4s, margin-left 0.4s;
    margin-left:-1rem
}
.MMB .tooltip p{
    margin:0;
    padding:6px;
    font-weight: bold;
}
.MMB button p {
    margin: 0;
    padding:0;
    color:white
}
.tooltip:before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    background:linear-gradient(to left,#ef4816,orange) ;
    top: 50%;
    left: -5px;
    z-index: -1;
    transform: translateY(-50%) rotate(45deg);
}

.MMB:active .tooltip {
    margin-left: 10px;
    opacity: 1;
    pointer-events: auto;
}
